---
  // @ts-ignore
	import BaseLayout from "../layouts/base.layout.svelte";
  // @ts-ignore
  import Comma from "../components/comma.svelte";
---
<BaseLayout title="Bug | Surendar Kalyanam">
  <div class=" w-screen h-screen overflow-x-hidden">
    <div class="p-10">
      <h1 class="text-3xl sure">Bug</h1>
    </div>
    <div class="flex p-20 box-border">
      <div class=" flex flex-col text-8xl sure-i w-1/2">
        <span>
          I'm a fullstack <span class="js">javascript</span> developer. Who loves <span class="svelte">front end frameworks.</span>
        </span>

      </div>
      <div class="bg-custom w-1/2 min-h-screen rounded-xl p-8">
          <div class=" flex flex-col bg-custom-inner w-full h-full rounded-xl p-8 space-y-4">
            <div class="space-x-1">
              <span class="text-base06 font-sure-italic">import</span>
              <span class="text-base08 font-sure-italic">&lbrace;</span>
              <span class="text-base05 font-sure-italic">Info</span>
              <span class="text-base08 font-sure-italic">&rbrace;</span>
              <span class="text-base06 font-sure-italic">form</span>
              <span class="text-base07 font-sure-italic">"@contact/details";</span>
            </div>
            <div class="space-x-0 flex flex-col">
              <span class="text-base08 font-sure-italic">@Info(<span class="text-base06 font-sure-italic">&lbrace;</span></span>
              <span class="text-base08 font-sure-italic">
                <span class="ml-5 text-base05">
                  name:
                </span>
                <span class=" text-base07">
                    "Surendar Kalyanam",
                </span>
              </span>
              <span class="text-base08 font-sure-italic">
                <span class="ml-5 text-base05">
                  about:
                </span>
                <span class="text-base07">
                  "fullstack javascript developer",
                </span>
              </span>
               <span class="flex flex-col text-base08 font-sure-italic">
                <span class="ml-5 text-base05">
                  skills: <span class="text-base09">[</span>
                </span>
                <span class=" ml-9 text-base08">
                  "Html" <Comma />
                </span>
                <span class=" ml-9 text-base08">
                  "Css"<Comma />
                </span>
                <span class=" ml-9 text-base08">
                  "Javascript"<Comma />
                </span>
                <span class=" ml-9 text-base08">
                  "Typescript"<Comma />
                </span>
                <span class=" ml-9 text-base08">
                  "Tailwindcss"<Comma />
                </span>
                <span class=" ml-9 text-base08">
                  <span class="text-base09">[</span>
                  <span class="text-base08">
                    "Angular"<Comma /> "React" <Comma /> "Vue"  <Comma />"Svelte"<Comma />
                  </span>
                  <span class="text-base09">]</span><Comma />
                </span>
                <span class=" ml-9 text-base08">
                  <span class="text-base09">[</span>
                  <span class="text-base08">
                    "Redux" <Comma /> "NgRx" <Comma /> "Pinia"<Comma />
                  </span>
                  <span class="text-base09">]</span>,
                </span>
                <span class=" ml-9 text-base08">
                  <span class="text-base09">[</span>
                  <span class="text-base08">
                    "Nest.js"<Comma /> "Remix Run" <Comma /> "Nuxt"  <Comma />"SvelteKit"<Comma />
                  </span>
                  <span class="text-base09">]</span><Comma />
                </span>
                <span class=" ml-9 text-base08">
                  <span class="text-base09">[</span>
                  <span class="text-base08">
                   "Nodejs" <Comma /> " Graphql"<Comma />
                  </span>
                  <span class="text-base09">]</span>,
                </span>
                <span class=" ml-9 text-base08">
                  <span class="text-base09">[</span>
                  <span class="text-base08">
                   "Typeorm" <Comma />" Prisma" <Comma />
                  </span>
                  <span class="text-base09">]</span>
                  <Comma />
                </span>
                <span class="ml-5 text-base05">
                  <span class="text-base09">]<Comma /></span>
                </span>
              </span>
              <span class="text-base08 font-sure-italic">
                <span class="ml-5 text-base05">
                  email:
                </span>
                <span class=" text-base07">
                    "dreamchaser6930@gmail.com"<Comma />
                </span>
              </span>
              <span class="text-base08 font-sure-italic">
                <span class="ml-5 text-base05">
                  phone:
                </span>
                <span class=" text-base07">
                    "+91 8825549745"<Comma />
                </span>
              </span>
              <span class="text-base08 font-sure-italic">
                <span class="ml-5 text-base05">
                  github:
                </span>
                <span class="text-base07 hover:text-blue-700">
                   <a href="https://github.com/Bug0017">"Bug0017"<Comma /></a>
                </span>
              </span>
              <span class="text-base08 font-sure-italic"><span class="text-base06 font-sure-italic">&rbrace;</span>)<span class="text-base07">;</span></span>
            </div>
             <div class="space-x-1">
              <span class="text-base06 font-sure-italic">export</span>
              <span class="text-base06 font-sure-italic">class</span>
              <span class="text-base07 font-sure-italic">AuthorInfo</span>
              <span class="text-base08 font-sure-italic">&lbrace;</span>
              <span class="text-base08 font-sure-italic">&rbrace;</span>
            </div>
          </div>
      </div>
    </div>
  </div>

</BaseLayout>