---
  // @ts-ignore
	import BaseLayout from "..//layouts/base.layout.svelte"
---
<BaseLayout title="Homepage">
  <div class="p-24">
    <h1 class="text-purple-900">Hello, world!</h1>
    <p>This is my page content. It will be nested inside a layout.</p>
  </div>
</BaseLayout>